body{
  margin: 1em;
  text-align: center;
  background-color:  #446161
}

#square{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 75px;
  transition-duration: 0.7s;
  font-family: bold;
}


#square:hover{
  background-color: #adefd1ff;
  
}

#gameBoard{
  display: flex;
  flex-wrap: wrap;
  width: 312px;
  margin: 0 auto;
  box-shadow: 10px 10px 2px black;
  align-items: center;
  border: 5px solid black;
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 40px
}

button{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  border-radius: 15px
}
